<div class="container mt-2" id="user-profile-container">
  <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 15 15" fill="white">
    <path d="M5 5.5C5 4.11929 6.11929 3 7.5 3C8.88071 3 10 4.11929 10 5.5C10 6.88071 8.88071 8 7.5 8C6.11929 8 5 6.88071 5 5.5Z" fill="white"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 0C3.35786 0 0 3.35786 0 7.5C0 11.6421 3.35786 15 7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35786 11.6421 0 7.5 0ZM1 7.5C1 3.91015 3.91015 1 7.5 1C11.0899 1 14 3.91015 14 7.5C14 9.34956 13.2275 11.0187 11.9875 12.2024C11.8365 10.4086 10.3328 9 8.5 9H6.5C4.66724 9 3.16345 10.4086 3.01247 12.2024C1.77251 11.0187 1 9.34956 1 7.5Z" fill="white"></path>
  </svg>
  <h1 style="font-weight: 400; margin-top: 15px"><%= @user.name %></h1>
  <p style="color: rgb(108,117,125); font-size: 20px"><%= @user.email %></p>
  <p style="color: rgb(108,117,125); font-size: 15px"> Joined in <%= @user.created_at.strftime("%B %Y") %></p>

  <hr style="width: 68rem; border-width: 2px; color: white;">
</div>

<div class="container mt-0">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Created Boards
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <% if @user_boards.count == 0 %>
              <li class="text-muted">This user has not created any boards yet.</li>
            <% end %>
            
            <% @user_boards.each do |board| %>
              <li><%= board.name %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Tasks Assigned
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
          
            <% if @user_tasks.count == 0 %>
              <li class="text-muted">This user has not tasks assigned.</li>
            <% end %>

            <% @user_tasks.each do |task| %>
              <li>
                <span style="font-weight: bold;"><%= task.name %></span> from <span style="font-weight: bold;"><%= task.state.board.name %></span> board
              </li>
            <% end %>
          
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Teams
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <% if @user_teams.count == 0 %>
              <li class="text-muted">This user is not part of any teams yet.</li>
            <% end %>

            <% @user_teams.each do |team| %>
              <li> Member of <span style="font-weight: bold;"><%= team.name %></span> since <span style="font-weight: bold;"><%= team.created_at.strftime("%B %Y") %></span>.</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
