<% @boards_limited.each do |board| %>
<%# No esta funcionando agregarle el hover a esta card en el css %>
<a href="<%= board_path(board) %>" class="card" id="home-card" style="background-color: <%=board.color%>; display: block; text-decoration: none;"
    onmouseover="this.style.backgroundColor='<%=board.color%>99'" onmouseout="this.style.backgroundColor='<%=board.color%>'">
  <div class="card-body" style="text-decoration: none;">
    <h5 class="card-title"><%= board.name %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= board.created_at.strftime("%d/%m/%Y") %></h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= User.find(board.user_id).name %></h6>
  </div>
</a>
  <hr>
<% end %>




