<!DOCTYPE html>
<html>
<head>
    <title>Trillo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>

    <div class="container-custom text-center">
        <div class="flash-messages">
            <% flash.each do |type, message| %>
            <div class="custom-alert alert alert-<%= type == :error ? 'danger' : type %> alert-dismissible fade show" style="position: relative; padding-right: 2.5rem;">
                <%= message %>
                <button type="button" class="btn-close-md" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; top: 0.5rem; right: 0.5rem;"></button>
            </div>
            <% end %>
        </div>
    </div>

    <div class="container">
        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item">
                    <a class="navbar-brand" href="/home">
                        <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="40" height="30">
                            <path fill="rgb(220,38,38)" fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5ZM5 6C5 5.44772 5.44772 5 6 5H10C10.5523 5 11 5.44772 11 6V16C11 16.5523 10.5523 17 10 17H6C5.44772 17 5 16.5523 5 16V6ZM14 5C13.4477 5 13 5.44772 13 6V12C13 12.5523 13.4477 13 14 13H18C18.5523 13 19 12.5523 19 12V6C19 5.44772 18.5523 5 18 5H14Z"></path>
                        </svg>
                        <span style="font-weight: bold; font-size: 25px">Trillo</span>
                    </a>

                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/home">Home</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/boards">Boards</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/users">Users</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/teams">Teams</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/table">Table</a>
                </li>
            </ul>



            <div class="button-container">
                <% if user_signed_in? %>
                    <%= link_to user_path(current_user), class: 'btn btn-outline-secondary', style: 'text-decoration: none;' do %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="24" height="24" fill="white" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-1nao33i r-lwhw9o r-cnnz9e">
                            <g>
                            <path d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"></path>
                            </g>
                        </svg>
                    <% end %>
                <% end %>
                
                <% if user_signed_in? %>
                    <a href="/boards/new" class="btn btn-outline-secondary" style="color: white;">Create</a>
                <% end %>

                <% if user_signed_in? %>
                    <a href="/user_teams/new" class="btn btn-outline-secondary" style="color: white;">Join a team</a>
                <% end %>

                <% if !user_signed_in? %>
                    <%= button_to 'Log in', new_user_session_path, class: 'btn btn-outline-secondary', style: 'color: white' %>
                <% end %>  

                <% if user_signed_in? %>
                    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary', style:"color: white"%>
                <% end %>
            </div>
        </nav>
    </div>

    <div class="container">
        <%= yield %>
    </div>



    <div class="container" id="footer-container">
        <p>© Project 17</p>
        <a href="https://github.com/ICC4103-202410-WebTech/course-project-project17.git" target="_blank">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.11.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.089-.744.083-.729.083-.729 1.205.085 1.84 1.236 1.84 1.236 1.07 1.835 2.809 1.305 3.495.997.108-.775.418-1.305.762-1.605-2.665-.3-5.467-1.333-5.467-5.931 0-1.31.469-2.38 1.235-3.22-.124-.303-.535-1.52.116-3.165 0 0 1.008-.322 3.3 1.23.957-.266 1.98-.399 3-.405 1.02.006 2.043.139 3 .405 2.29-1.552 3.296-1.23 3.296-1.23.653 1.645.242 2.862.118 3.165.77.84 1.233 1.91 1.233 3.22 0 4.61-2.807 5.625-5.479 5.921.43.372.823 1.102.823 2.222 0 1.606-.014 2.896-.014 3.286 0 .322.216.694.825.576C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
            </svg>
        </a>
    </div>

</body>
</html>
