<!DOCTYPE html>
<html>
<head>
    <title>Trillo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>

    <div class="container-custom text-center">
        <div class="flash-messages">
            <% flash.each do |type, message| %>
            <div class="custom-alert alert alert-<%= type %>">
                <%= message %>
            </div>
            <% end %>
        </div>
    </div>

    <div class="container">
        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item">
                    <a class="navbar-brand" href="/home">
                        <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="40" height="30">
                            <path fill="rgb(220,38,38)" fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5ZM5 6C5 5.44772 5.44772 5 6 5H10C10.5523 5 11 5.44772 11 6V16C11 16.5523 10.5523 17 10 17H6C5.44772 17 5 16.5523 5 16V6ZM14 5C13.4477 5 13 5.44772 13 6V12C13 12.5523 13.4477 13 14 13H18C18.5523 13 19 12.5523 19 12V6C19 5.44772 18.5523 5 18 5H14Z"></path>
                        </svg>
                        <span style="font-weight: bold; font-size: 25px">Trillo</span>
                    </a>

                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/home">Home</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/boards">Boards</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/users">Users</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/teams">Teams</a>
                </li>
                <li class="nav-item" id='nav-item-not-brand'>
                    <a href="/table">Table</a>
                </li>
            </ul>

            <div class="button-container">
                <a href="/boards/new" class="create-button">
                    <button type="button">Create</button>
                </a>
                
                <a href="/users/new" class="signup-button">
                    <button type="button">Sign up</button>
                </a>
            </div>
        </nav>
    </div>

    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
