<h1 style="display: flex; align-items: center;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=40px height=40px  fill="white" version="1.1" id="Layer_1" viewBox="0 0 512.001 512.001" xml:space="preserve"><g><g><path d="M223.431,131.351l-64.189-64.189c-6.171-6.171-16.178-6.171-22.348,0L4.629,199.426c-6.171,6.171-6.171,16.177,0,22.348    l64.189,64.189c6.17,6.17,16.18,6.168,22.348,0l132.266-132.265C229.603,147.527,229.603,137.522,223.431,131.351z"></path></g></g><g><g><path d="M507.372,199.425L375.107,67.16c-6.171-6.171-16.178-6.171-22.348,0l-64.189,64.189c-6.171,6.171-6.171,16.177,0,22.348    l132.266,132.266c6.17,6.17,16.18,6.168,22.348-0.001l64.189-64.189C513.544,215.602,513.544,205.595,507.372,199.425z"></path></g></g><g><g><path d="M373.055,280.971c-13.372-13.373-75.959-75.962-98.531-98.527c-6.434-6.431-14.587-10.852-23.407-12.78    c-4.477,6.404-139.435,140.486-141.67,142.266c1.984,8.636,6.362,16.612,12.68,22.93l95.175,95.163    c34.206,34.235,68.215,17.49,80.154-6.02l-60.45-60.449c-6.171-6.171-6.171-16.177,0-22.348c6.17-6.171,16.177-6.171,22.348,0    l60.264,60.264c12.743-6.195,22.683-18.317,25.42-33.444l-56.252-56.252c-6.171-6.171-6.171-16.177,0-22.348    c6.17-6.171,16.177-6.171,22.348,0l61.975,61.976C392.802,334.269,396.064,303.985,373.055,280.971z"></path></g></g></svg>
<span style="margin-left: 10px;">Teams</span>
</h1>

<hr style="width: 59rem; border-width: 2px; color: white;">

<%= link_to new_team_path(), style: "text-decoration: none; color: inherit;" do %>
  <div class="card border-0 shadow-sm mb-3" style="background-color: grey; width: 59rem; cursor: pointer;">
    <div class="card-body p-3">
      <div class="d-flex align-items-center mb-2 justify-content-between">
        <h6 class="card-subtitle mb-0 text-white">
          Create a new team
        </h6>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="white" class="bi bi-plus-circle">
          <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM7.5 4a.5.5 0 0 1 1 0v2.5H11a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V7.5H5a.5.5 0 0 1 0-1h2.5V4z"/>
        </svg>
      </div>
    </div>
  </div>
<% end %>

<%= link_to new_user_team_path(), style: "text-decoration: none; color: inherit;" do %>
  <div class="card border-0 shadow-sm mb-3" style="background-color: grey; width: 59rem; cursor: pointer;">
    <div class="card-body p-3">
      <div class="d-flex align-items-center mb-2 justify-content-between">
        <h6 class="card-subtitle mb-0 text-white">
          Join a team
        </h6>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="white" class="bi bi-plus-circle">
          <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM7.5 4a.5.5 0 0 1 1 0v2.5H11a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V7.5H5a.5.5 0 0 1 0-1h2.5V4z"/>
        </svg>
      </div>
    </div>
  </div>
<% end %>

<% @teams.each do |team| %>  
  <div class="card border-0 shadow-sm mb-3" style="background-color: white; width: 59rem">
    <div class="card-body p-3">
      <div class="d-flex align-items-center mb-2 justify-content-between">
        <div>
          <h6 class="card-subtitle mb-0"><%= team.name %></h6>
        </div>
        <div>
          <a href="#" class="card-link"><%= link_to 'Show', team_path(team), class: 'btn p-0 mr-2', style: 'color: rgb(220, 38, 38); font-weight: bold'%></a>
          <a href="#" class="card-link"><%= link_to 'Edit', edit_team_path(team), class: 'btn p-0 mr-2', style: 'color: rgb(220, 38, 38); font-weight: bold'%></a>
          <a href="#" class="card-link"><%= link_to 'Destroy', team, data: { turbo_confirm: 'Are you sure?', turbo_method: "delete"}, class: 'btn p-0 mr-2', style: 'color: rgb(220, 38, 38); font-weight: bold'%></a>
        </div>
      </div>
    </div>
  </div>
<% end %>
