<div id="horizontal-navbar" >
  <ul id="test" class="nav justify-content-start">
  
    <li class="nav-item" style="display: flex; align-items: center;">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;">Workspaces</span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="18" height="18">
                <path d="M11.2929 16.7071L4.22185 9.63606C3.83132 9.24554 3.83132 8.61237 4.22185 8.22185C4.61237 7.83133 5.24554 7.83133 5.63606 8.22185L12 14.5858L18.364 8.22185C18.7545 7.83132 19.3877 7.83132 19.7782 8.22185C20.1687 8.61237 20.1687 9.24554 19.7782 9.63606L12.7071 16.7071C12.3166 17.0977 11.6834 17.0977 11.2929 16.7071Z"></path>
            </svg>
        </a>
    </li>

    <li class="nav-item ml-auto" style="display: flex; align-items: center;">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;">Recents</span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="18" height="18">
                <path d="M11.2929 16.7071L4.22185 9.63606C3.83132 9.24554 3.83132 8.61237 4.22185 8.22185C4.61237 7.83133 5.24554 7.83133 5.63606 8.22185L12 14.5858L18.364 8.22185C18.7545 7.83132 19.3877 7.83132 19.7782 8.22185C20.1687 8.61237 20.1687 9.24554 19.7782 9.63606L12.7071 16.7071C12.3166 17.0977 11.6834 17.0977 11.2929 16.7071Z"></path>
            </svg>
        </a>
    </li>


    <li class="nav-item" style="display: flex; align-items: center;">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;">Starred</span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="18" height="18">
                <path d="M11.2929 16.7071L4.22185 9.63606C3.83132 9.24554 3.83132 8.61237 4.22185 8.22185C4.61237 7.83133 5.24554 7.83133 5.63606 8.22185L12 14.5858L18.364 8.22185C18.7545 7.83132 19.3877 7.83132 19.7782 8.22185C20.1687 8.61237 20.1687 9.24554 19.7782 9.63606L12.7071 16.7071C12.3166 17.0977 11.6834 17.0977 11.2929 16.7071Z"></path>
            </svg>
        </a>
    </li>

    <li class="nav-item" style="display: flex; align-items: center;">
        <a class="nav-link active" aria-current="page" href="<%=  %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;">More</span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="18" height="18">
                <path d="M11.2929 16.7071L4.22185 9.63606C3.83132 9.24554 3.83132 8.61237 4.22185 8.22185C4.61237 7.83133 5.24554 7.83133 5.63606 8.22185L12 14.5858L18.364 8.22185C18.7545 7.83132 19.3877 7.83132 19.7782 8.22185C20.1687 8.61237 20.1687 9.24554 19.7782 9.63606L12.7071 16.7071C12.3166 17.0977 11.6834 17.0977 11.2929 16.7071Z"></path>
            </svg>
        </a>
    </li>


    <li class="nav-item ms-auto">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;"></span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation" fill="black" width="25" height="25">
                <path d="M6.586 17.829a2 2 0 002.829 0L6.585 15a2 2 0 000 2.829zm4.798-12.351A5.036 5.036 0 0114.954 4c.972 0 1.945.28 2.788.839.02-.026.043-.05.066-.074a1.01 1.01 0 111.354 1.494 5.048 5.048 0 01-.64 6.356l-.725.725c-.782.783-1.813 2.21-2.312 3.207l-1.509 3.016c-.249.5-.773.584-1.171.187l-8.556-8.555c-.397-.397-.308-.924.187-1.172l3.017-1.508c.989-.494 2.42-1.526 3.206-2.312l.725-.725zm2.739 9.63c.517-.975 1.568-2.396 2.354-3.182l.725-.726a3.048 3.048 0 00.387-3.835c-.19-.286-.718-.766-.859-.86A3.043 3.043 0 0015.047 6a3.04 3.04 0 00-2.156.892l-.95.951c-.784.785-2.219 1.82-3.201 2.311l-1.74.87 6.07 6.069 1.053-1.985z" fill-rule="evenodd"></path>
            </svg>
        </a>
    </li>

    <li class="nav-item ms-auto">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;"></span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="25" height="25"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47667 6.47667 2 12 2C17.5233 2 22 6.47667 22 12C22 17.5233 17.5233 22 12 22C6.47667 22 2 17.5233 2 12ZM4 12C4 16.4188 7.58124 20 12 20C16.4188 20 20 16.4188 20 12C20 7.58124 16.4188 4 12 4C7.58124 4 4 7.58124 4 12ZM8 10C7.99999 7.48383 10.3214 5.51108 12.9389 6.10713C14.3829 6.43513 15.5569 7.60513 15.8899 9.04813C16.3809 11.1771 15.1719 13.0911 13.3589 13.7471C13.1549 13.8201 13.0099 14.0021 13.0099 14.2191V14.0001C13.0099 14.5521 12.5629 15.0001 12.0099 15.0001C11.4579 15.0001 11.0099 14.5521 11.0099 14.0001V12.9871C11.0179 12.4411 11.4599 12.0001 11.9999 12.0001C13.1029 12.0001 13.9999 11.1021 13.9999 10.0001C13.9999 8.89713 13.1029 8.00013 11.9999 8.00013C10.8959 8.00013 9.99935 8.92313 10.0004 10.0271C9.98522 10.5666 9.54291 11 9 11C8.47773 11 8.04856 10.599 8.00385 10.0882C8.00385 10.0882 8 10.0297 8 10ZM12 18C11.448 18 11 17.552 11 17C11 16.448 11.448 16 12 16C12.552 16 13 16.448 13 17C13 17.552 12.552 18 12 18Z"></path></svg>        </a>
    </li>

    <li class="nav-item ms-auto">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>" style="display: flex; align-items: center;">
            <span style="margin-right: 5px; color: black;"></span>
            <svg role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="black" width="25" height="25"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path><path d="M11 11C11 10.4477 11.4477 10 12 10C12.5523 10 13 10.4477 13 11V16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16V11Z"></path><path d="M13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8Z"></path></svg>    
    </li>
  </ul>  
</div>


<div class="container text-center">
  <div class="row justify-content-center align-items-start">
    
    <div class="col">
          <div id="vertical-navbar" >
            <ul id="test" class="nav flex-column position-fixed">
                    
              <li class="nav-item" style="display: flex; align-items: center;">
                  <a class="nav-link active" aria-current="page" href="<%= home_path %>">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-lwhw9o r-cnnz9e" fill="black" width="28" height="28">
                          <g>
                              <path d="M21.591 7.146L12.52 1.157c-.316-.21-.724-.21-1.04 0l-9.071 5.99c-.26.173-.409.456-.409.757v13.183c0 .502.418.913.929.913H9.14c.51 0 .929-.41.929-.913v-7.075h3.909v7.075c0 .502.417.913.928.913h6.165c.511 0 .929-.41.929-.913V7.904c0-.301-.158-.584-.408-.758z"></path>
                          </g>
                      </svg>
                  </a>
                  <span style="margin-left: 5px;">Boards</span>
              </li>

              <li class="nav-item" style="display: flex; align-items: center;">
                  <a class="nav-link active" aria-current="page" href="<%=  %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-lwhw9o r-cnnz9e" fill="black" width="28" height="28"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg>
                  </a>
                  <span style="margin-left: 5px;">Template</span>
              </li>

              <li class="nav-item" style="display: flex; align-items: center;">
                  <a class="nav-link active" aria-current="page" href="<%=  %>">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-lwhw9o r-cnnz9e" fill="black" width="28" height="28"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg>                  
                    </a>
                  <span style="margin-left: 5px;">Home</span>
              </li>
                <footer id="footer" class="text-center">
                    <div class="container">
                        <span class="text-muted">© 2024 Project17.</span>
                        <div>
                            <span class="text-muted">All rights reserved.</span>
                        </div>
                    </div>
                </footer>
              </ul>  
          </div>
    </div>

    <div class="col" id="col-boards">
      <div class="container text-center">
        <div class="d-flex flex-row justify-content-around align-items-start">
          
          <div class="col">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Name</h5>
                      <a href="#" class="card-link"> Board link </a>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Name</h5>
                      <a href="#" class="card-link"> Board link </a>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Name</h5>
                      <a href="#" class="card-link"> Board link </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
